@import '../mixins/typography';

.button {
  -webkit-appearance: none;
  -moz-appearance: none;
  cursor: pointer;
  outline: none;
  border: none;
  -webkit-tap-highlight-color: transparent;
  display: inline-block;
  white-space: nowrap;
  text-decoration: none;
  vertical-align: baseline;
  text-align: center;
  overflow: visible;
  background: transparent;
  box-shadow: none;

  height: 48px;
  line-height: 48px;
  padding: 0 32px;
  border-radius: 24px;
  font-size: 18px;
  @include google-medium();
}
