@import '../mixins/color-palette';

.color-primary {
  color: $color-primary;
}

.background-color-primary {
  background-color: $color-primary;
}

.border-color-primary {
  border-color: $color-primary;
}

.color-white {
  color: #FFF;
}

.background-color-white {
  background-color: #FFF;
}

.border-color-white {
  border-color: #FFF;
}

.color-black {
  color: #000;
}

.background-color-black {
  background-color: #000;
}

.border-color-black {
  border-color: #000;
}
