@import '../mixins/color-palette';
@import '../mixins/typography';

html,
body {
  @include google-regular();
  -webkit-font-smoothing: antialiased;
}

h1 {
  @include google-bold();
  font-size: 44px;
  line-height: 56px;
  color: $text-title;
  margin: 0;
}

h2 {
  @include google-regular();
  font-size: 22px;
  line-height: 32px;
  color: $text-subtitle;
}

h3,h4,h5,h6 {
  @include google-bold()

}

