$google-sans: 'Google Sans', 'Helvetica', 'Roboto', Arial, sans-serif;

@mixin google-regular() {
  font-family: $google-sans;
  font-weight: 400;
}

@mixin google-medium() {
  font-family: $google-sans;
  font-weight: 500;
}

@mixin google-bold() {
  font-family: $google-sans;
  font-weight: 700;
}
