@import 'mixins/layout';

$header-height: 72px;

// PHPBB Override Styles

.headerbar,
.forumbg {
  background: rgba(255,255,255,0.9);
}

.headerbar {
  margin: 0;
  padding: 0;
  border-radius: 0;
}

.site_logo {
  background: url('./images/logo.svg') center center no-repeat;
  width: 83px;
  height: 24px;
}

.site-description {
  float: unset;
  width: unset;
}

.navbar {
  background-color: transparent;
  padding: 0;
  border-radius: 0;
}

// uThink Custom Styles

#page-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 900;
}

.headerbar .inner {
  @include flex-wrapper();
  height: $header-height;
  line-height: $header-height;
  padding: 0 24px;

  .site-description,
  .navbar {
    @include flex-shrink();
    height: $header-height;
    line-height: $header-height;
  }

  .header-spacer {
    @include flex-grow();
    height: $header-height;
    line-height: $header-height;
  }
}

body #wrap {
  margin: $header-height 0 0;
}

body.section-index #wrap.hero-visible {
  margin-top: 0;
}
