@import 'mixins/layout';

.hero-wrapper {
  //display: block;
  @include flex-wrapper();

  .hero-cell {
    width: 49.9%;
    //display: inline-block;
    @include flex-grow();
    vertical-align: top;
    position: relative;

    &.copy {
    }

    &.image {
      background: url('./images/hero__desktop@2x.jpg') center center no-repeat;
      background-size: cover;
      height: 0;
      padding-bottom: 52%;
    }

  }

  .copy-inner {
    position: relative;
    max-width: 520px;
    padding-right: 42px;
    margin: auto 0 0 auto;
  }

}
