@import 'mixins/typography';
@import 'mixins/color-palette';

@import 'common/button';
@import 'common/color-palette';
@import 'common/layout';
@import 'common/typography';

@import 'header';
@import 'home';

// PHPBB Override Styles

html,
body {
  padding: 0;
}

.wrap {
  max-width: 100%;
  min-width: 100%;
  padding: 0;
  border: none;
}
