<!-- IF .rpcats -->
{%- INCLUDECSS '@toxyy_recentpostlist/recent.css' -%}
<div class="text-center" id="recent-post-box">
	<!-- BEGIN rpcats -->
	<h2 class="title">
		{rpcats.FORUM_NAME}
	</h2>
	<div class="text-center" id="recent-post-list">
		<!-- BEGIN recentpostlist -->
		<div class="recent-post-container">
			<div class="panel panel-post">
				<div class="blog-meta">
					<a title="" href="{rpcats.recentpostlist.U_FORUM}">{rpcats.recentpostlist.FORUM_NAME}</a>
				</div>
				</br>
				<div class="title">
					<header class="entry-header">
						<h4 class="inverse-font"><a title="" href="{rpcats.recentpostlist.U_TOPIC}">{rpcats.recentpostlist.TOPIC_TITLE}</a></h4>
					</header>
				</div>
				<div class="content-post">
					<p>{rpcats.recentpostlist.FP_EXCERPT}</p>
					<div class="entry-meta">
						<span class="jp-views">{L_RECENTPOSTLIST_BY}{rpcats.recentpostlist.TOPIC_AUTHOR}</span>
						</br></br>Replies: {rpcats.recentpostlist.TOPIC_REPLIES}
					</div>
				</div>
				<div class="panel-bottom">
				</br>
					<a title="" class="btn btn-xs btn-block" href="{rpcats.recentpostlist.U_LAST_POST}">{L_RECENTPOSTLIST_READ_MORE}</a>
				</div>
			</div>
		</div>
		<!-- END recentpostlist -->
	</div>
	<!-- END rpcats -->
</div>
<!-- ENDIF -->