<!-- INCLUDE overall_header.html -->

<!-- IF not S_USER_LOGGED_IN -->
<div class="hero-wrapper"><!--
				--><div class="hero-cell copy">
    <div class="copy-inner">
        <h1>Real advice from real students.</h1>
        <h2>From program comparisons to admission requirements to residence reviews—get real answers from real Canadian students.</h2>
        <a href="{U_REGISTER}" class="button background-color-primary color-white">Register</a>
    </div>
</div><!--
				--><div class="hero-cell image"></div><!--
			--></div>
<!-- ENDIF -->

<h2>New Custom Homepage</h2>

<div class="panel">
    <div class="inner"><span class="corners-top"><span></span></span>

        <div class="content">
        </div>

        <span class="corners-bottom"><span></span></span></div>
</div>

<!-- INCLUDE jumpbox.html -->
<!-- INCLUDE overall_footer.html -->
